.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ac8cc9; /* Tailwind purple-500 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
